*.pyc
*.pyo
*.db
.DS_Store
.coverage
local_settings.py
/static
django_root/static/media/uploads
__pycache__/
.cache
.env
bower_components
.sass-cache
node_modules
scratch
django_root/synoptictheme/static/css/base.css
assets/bundles/*
django_root/local_config.py
backups
.virtualenv/*
frontend_development_core
react_project_base
django_root/frontend/static
/npm-debug.log
/node_root
/container_node_modules
/django_root/webpack-stats.json
/django_root/.env.local
/django_root/project_editor/static/fonts
/django_root/project_editor/static/js/bundle.js
/django_root/htmlcov
htmlcov
/django_root/geckodriver.log
/coverage_report
/.coverage
.venv
.venv3

django_root/\.env\.local

django_root/local_config\.py
!django_root/static/font
/django_root/datasheet/static/sass/index.css
.idea