POSTGRES_PASSWORD=<get password>
POSTGRES_USER=datasheet_user
POSTGRES_DB=datasheetai

# Only needed if using Django in Docker
DJANGO_ADMIN_URL=django-admin/
DJANGO_SETTINGS_MODULE=datasheet_ai.settings.production
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=dev.datasheet.ai
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_MAILGUN_SERVER_NAME=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



