.jumbotron {
  padding-left: 0px;
  padding-right: 0px;
  background: #0066A1;
  border-radius: 0px;
  padding-top: 60px;
  padding-bottom: 113px;
  p {
    font-size: 30px;
  }
  * {
    color: #fff;
  }
}