{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/indexpage.css' %}">
{% endblock %}

{% block body_class %}template-datasheet-index{% endblock %}

{% block content %}

    {% include 'datasheet/partials/_home_header.html' %}

    <main class="content container-fluid">
        <div class="row">
            {% for sheet in datasheets %}
                {% with sheet=sheet.specific %}
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card product-card">
                            <a href="{% pageurl sheet %}">
                                <div class="card-body">

                                        <img width="200" height="200" src="{{ sheet.settings.logo.url }}" alt="TE Logo" />
                                        <h2 class="product-title">{{ sheet.title }}</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </main>

    {% wagtailuserbar %}
{% endblock %}
