{% load wagtailcore_tags %}

<div class="product-code-structure block" id="{{ value.bookmark }}">
    <h1 class="title"><span>{{ value.title }}</span></h1>

    <ul class="product-code">
        {% include_block value.cde_type with desc="CDE Type" %}
        {% include_block value.capacitance_code with desc="Capacitance" %}
        {% include_block value.capacitance_tolerance with desc="Tolerance" %}
        {% include_block value.wvdc_code with desc="Working VDC" %}
        {% include_block value.packaging_code with desc="Packaging Code" %}
    </ul>
</div>
