{% extends 'datasheet/datasheet_page.html' %}

{% block body_class %}{{ block.super }} microchip-sheetpage{% endblock %}

{% block sidebar %}
    {% include 'microchip/partials/_sidebar.html' %}
{% endblock %}

{% block script_data %}
    {{ block.super }}
    {% if hierarchy_data %}
        <script>
            const hierarchy_data = {{ hierarchy_data|safe }};
        </script>
    {% endif %}

    <script>
        console.log('What is the main data? ' + hierarchy_data.name)
    </script>
{% endblock %}
