{% extends 'datasheet/datasheet_page.html' %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% load render_bundle from webpack_loader %}

{% block extra_css %}
    {{ block.super }}
    {% if render_bundles %}
        {% if hierarchy_data %}
            {% render_bundle 'SidebarComponent' 'css' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block body_class %}{{ block.super }} microchip-sheetpage{% endblock %}

{% block script_data %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% include 'datasheet/partials/_datasheet_header.html' %}

    <main id="bookmark_top">
        {% image banner_mark original as banner %}
        {% include 'datasheet/partials/_jumbotron.html' with banner=banner %}

        <div class="container-fluid">
            <div class="row px-2">
                <div class="col-12 col-lg-3 sidebar">
                    {% block sidebar %}
                        {% include 'microchip/partials/_sidebar.html' %}
                    {% endblock %}
                </div>
                <div class="col-lg-9 col-md-12">

                    <div class="menu-mobile row d-lg-none sticky-top sticky-offset ">
                        {% include 'datasheet/partials/_menu_mobile.html' %}
                    </div>
                    <div class="row" id="content-container">
                    </div>
                </div>
            </div>
            <div class="row px-2">
                {% include 'datasheet/partials/_footer.html' %}
            </div>
        </div>
    </main>
{% endblock %}

{% block render_bundles %}
    {% if hierarchy_data %}
        {% render_bundle 'SidebarComponent' 'js' %}
    {% endif %}
{% endblock %}

{% block initialize_bundles %}
    <script type="text/javascript">
        {% if hierarchy_data %}
            const datapages = window.datapages || {}
            datapages.hierarchy_data = {{ hierarchy_data | safe }}
            datapages.settings = JSON.parse('{{ content_height | safe }}')
            const sidebar = new SidebarComponent('.datapages-sidebar')
            sidebar.render(datapages.hierarchy_data)
        {% endif %}
    </script>
{% endblock %}
