POSTGRES_PASSWORD=shambles-postman-guard
POSTGRES_USER=datasheet_user
POSTGRES_DB=datasheetai

DJANGO_ADMIN_URL=django-admin/
DJANGO_SETTINGS_MODULE=datapages.settings.production

SECRET_KEY=<create a long key with 1password>
NEVERCACHE_KEY=<Create some long key here with 1password also>

DJANGO_ALLOWED_HOSTS=datapages.localhost

DJANGO_EMAIL_BACKEND=anymail.backends.mailgun.MailgunBackend

DJANGO_SERVER_EMAIL=DataPages.ai <info@datapages.ai>
DJANGO_EMAIL_SUBJECT_PREFIX=DataPages.ai

DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# This is for 'local' development
DJANGO_SENTRY_DSN=
DJANGO_SENTRY_PUBLIC_DSN=

DATABASE_URL=postgresql://datasheet_user:shambles-postman-guard@localhost:5442/datasheetai

