{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}
{% block body_class %}template-datasheet{% endblock %}

{% block extra_css %}
    {% comment %}
    Inject custom styles and values for the page in usign css variables.
    These are not supported on IE11.. but who is using that anymore anyway?
    There is < 6% worldwide share, and about 8.5% US share.. go figure.
    {% endcomment %}
    <style>
        body {
            --primary_color: {{ primary_color }};
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/datasheet.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

    {% include 'datasheet/partials/header.html' %}

    <main id="top">
        {% include 'datasheet/partials/jumbotron.html' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'datasheet/partials/sidebar.html' %}
                </div>

                <div class="col-lg-9">
                    <div class="product-slider block">
                        {% include 'datasheet/partials/product_slider.html' %}
                    </div>

                    {% for block in page.stream1 %}
                        {% include_block block %}
                    {% endfor %}
                </div>
            </div>

            {% include 'datasheet/partials/footer.html' %}

            {% block extra_js %}
                <script src="{% static 'js/carouselequalheights.js' %}"></script>
            {% endblock %}
        </div>
    </main>

{% endblock %}
