{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load pipeline %}
{% load sass_tags %}

{% block body_class %}template-datasheet{% endblock %}

{% block content %}

    {% include 'datasheet/partials/header.html' %}

    <main>
        {% include 'datasheet/partials/jumbotron.html' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'datasheet/partials/sidebar.html' %}
                </div>

                <div class="col-lg-9">
                    <div class="product-slider block">
                        {% include 'datasheet/partials/product_slider.html' %}
                    </div>

                    {% for block in page.stream1.stream_data %}
                        {% if block.type == 'contact_data' %}
                            <div class="block contact-data">
                                {% include 'datasheet/partials/contact_data.html' %}
                            </div>
                        {% elif block.type == 'coil_data' %}
                            <div class="coil-data block">
                                {% include 'datasheet/partials/coil_data.html' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}

