{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailuserbar %}

{% block body_class %}template-datasheet-index{% endblock %}

{% block content %}
    {% include 'datasheet/partials/jumbotron.html' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include 'datasheet/partials/sidebar.html' %}
            </div>

            <div class="col-lg-9">
                <div class="product-slider block">
                    {% include 'datasheet/partials/product_slider.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

