{% extends "base.html" %}

{% block body_class %}template-datasheet{% endblock %}

{% block content %}

    {% include 'datasheet/partials/header.html' %}

    <main id="top">
        {% include 'datasheet/partials/jumbotron.html' %}

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'datasheet/partials/sidebar.html' %}
                </div>

                <div class="col-lg-9">
                    <div class="product-slider block">
                        {% include 'datasheet/partials/product_slider.html' %}
                    </div>

                    {% for block in page.stream1.stream_data %}
                        {% if block.type == 'contact_data' %}
                            <div class="block contact-data" id="contact_data">
                                {% include 'datasheet/partials/contact_data.html' %}
                            </div>
                        {% elif block.type == 'coil_data' %}
                            <div class="coil-data block" id="coil_data">
                                {% include 'datasheet/partials/coil_data.html' %}
                            </div>
                        {% elif block.type == 'dimension' %}
                            <div class="dimension block" id="dimention">
                                {% include 'datasheet/partials/dimension.html' %}
                            </div>
                        {% elif block.type == 'product_code' %}
                            <div class="product-code-structure block" id="product_code">
                                {% include 'datasheet/partials/product_code.html' %}
                            </div>
                        {% elif block.type == 'revisions' %}
                            <div class="revision block" id="revision">
                                {% include 'datasheet/partials/revisions.html' %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% include 'datasheet/partials/footer.html' %}
        </div>
    </main>

{% endblock %}

