<div class="block contact-data" id="{{ block.value.bookmark }}">
    <h1 class="title"><span>{{ block.value.title }}</span></h1>
    <table class="table">
        <tbody>
            {% for row in block.value.data.data %}
                <tr>
                    {% for col in row %}
                        {% if not col %}
                            <td {% if forloop.counter == 1 %}class="borderless"{% endif %}>&nbsp;</td>
                        {% else %}
                            <td>{{ col }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>