.coil-data {
  .nav-pills {
    margin-bottom: 30px;
    
    .nav-link {
      color: #0066A1;
      font-size: 14px;
      &.active {
        box-shadow: 0 0 1px 0 #009FBD;
        background-color: rgba(0,115,173,0.07);
        border-radius: 3px;
        border: 1px solid rgba(0,115,173,0.2);
        box-sizing: border-box;
        font-weight: bold;
      }
    }
    
    & + .tab-content {
      .head {
        margin-bottom: 40px;
        .subtitle {
          font-size: 24px;
        }
        p {
          font-size: 18px;
        }
      }
      
      .chart-title {
        font-size: 14px;
      }
    }
  }
}