{% load image_tags wagtailimages_tags %}

<div class="dimension block" id="{{ block.value.bookmark }}">
    <h1 class="title"><span>{{ block.value.title }}</span></h1>

    <!--<p class="text-muted text-center chart-title"><i>{{ block.value.title|capfirst }}</i></p>-->

    <div class="card">
        <div class="card-body">
            {% image block.value.image original as photo %}
            {% if block.value.enabled_drawing %}
                <div class="drawable" data-props="{{ photo.url }}"></div>
            {% else %}
                <img src="{{ photo.url }}" alt="" width="100%">
            {% endif %}
        </div>
    </div>
</div>
