<div class="block selector" id="{{ block.value.bookmark }}">
    <h1 class="title"><span>{{ block.value.title }}</span></h1>
    <table class="table">
        <thead>
            {% for heading in json_data.headings %}
                <th>{{ heading }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for row in json_data.data %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>