{% load wagtailcore_tags wagtailimages_tags %}

<div class="card chart-card carousel-item {% if active %}active{% endif %}">
    <div class="card-body">
        {% image value.image original as carousel_image %}
        <img class="d-block img-fluid ml-auto mr-auto"
             src="{{carousel_image.url}}"
             alt="{{carousel_image.alt}}"/>

        <div class="card-links">
            <a href="#" class="card-link"><i class="fa fa-search-plus"></i></a>
            <a href="#" class="card-link"><i class="fa fa-pencil-alt"></i></a>
            <a href="#" class="card-link"><i class="fa fa-download"></i></a>
            <a href="#" class="card-link"><i class="fa fa-share"></i></a>
        </div>
    </div>
</div>
