/**
Improve the editing interface for the datasheet admin. Test.
 */

.struct-block {
  &.inline {
    > .fields {
      border: 1px solid lightblue;
      display: flex !important;
      width: 100% !important;
      float: none;
      padding: 15px !important;
      li {
        flex: 1;
        &:not(:last-child) {
          margin-right: 10px;
        }
        label {
          float: none;
        }
        .field-content {
          width: 100%;
        }
      }
    }
  }
}

.sequence {
  .sequence-member {
    &:not(:last-child) {
      border-bottom: 1px solid #ccf1f1;
    }
  }
}

.product-code-block,
.revision-block {
  > .fields {
    > li {
      .sequence-member {
        .sequence-controls {
          right: -115px;
          top: 48px;
        }
      }
    }
  }
}