/**
  Include a bunch of partials for better code management.
 */

@import "partials/navbar";
@import "partials/grid";
@import "partials/jumbotron";
@import "partials/sidebar";
@import "partials/chart_card";
@import "partials/footer";

@import "partials/blocks/block";
@import "partials/blocks/contact_data";
@import "partials/blocks/product_slider";
@import "partials/blocks/coil_data";
@import "partials/blocks/product_code_structure";
@import "partials/blocks/revisions";

/**
 * index.scss
 * - Add any styles you want here!
 */
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: BrixSansRegular;
}

main {
  margin-top: 90px;
}

.btn-primary {
  background: #0066A1;
  border-color: #0066A1;
}
