/**
  Include a bunch of partials for better code management.
  R3
 */
@import "partials/variables";
@import "partials/common";
@import "partials/navbar";
@import "partials/grid";
@import "partials/jumbotron";
@import "partials/sidebar";
@import "partials/chart_card";
@import "partials/footer";
@import "partials/panasonic";

@import "partials/onsemi/blocks/figure";

@import "partials/blocks/block";
@import "partials/blocks/contact_data";
@import "partials/blocks/product_slider";
@import "partials/blocks/coil_data";
@import "partials/blocks/product_code_structure";
@import "partials/blocks/revisions";
@import "partials/blocks/part_selector";

/**
 * index.scss
 * - Add any styles you want here!
 */
body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: BrixSansRegular;
  position: relative;
}

main {
  margin-top: 90px;
}

.btn-primary {
  background: var(--primary_color);
  border-color: var(--primary_color);
}
