{% load utility_tags %}

<div class="block part-selector" id="{{ block.value.bookmark }}">
    <h1 class="title"><span>{{ block.value.title }}</span></h1>

    <ul>
        {% for type in json_data %}
            <li style="margin-bottom:50px;">
                <h5>{{ type.title }} <small>(Series: {{ type.series|join:", " }})</small></h5>
                <br><br>
                <div class="row">
                    {% for value in type.values %}
                        <div class="col ">
                            <h5 style="background:var(--primary_color);padding:5px;text-align:center;color:#fff;">{{ value.name }}</h5>
                            <p style="text-align:center;">{{ value.description }}</p>

                            {% if value.data %}
                                <div class="row">
                                    {% for grid in value.data %}
                                        <div data-display="grid"
                                             data-json="{% spaceless %}{{ grid|jsondumps }}{% endspaceless %}"
                                             style="min-height:300px;"
                                             class="ag-theme-balham col-{% if value.data|length > 1 %}6{% else %}12{% endif %}"></div>
                                    {% endfor %}
                                </div>
                            {% elif value.taping %}
                                {% with value.taping as taping %}
                                    <div style="border: 1px solid #ddd;padding:15px;">
                                        <p>{{ taping.title }}</p>
                                        {% for item in taping.data %}
                                            <p>{{ item.label }} : {{ item.value }}</p>
                                        {% endfor %}
                                    </div>
                                {% endwith %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>

</div>