<!--
    Insert this into top of the datasheet file to inject simulated context
    into nunjucks on codepen.io
-->

{% set primary_color = "#ff0000" %}
{% set secondary_color = "#ff0000" %}
{% set banner = {
    url: "media/images/bg-logomark-te_yHGnu9o.original.png"
  }
%}
{# Header #}
{% set vendor_logo = {
    url: "media/tec-tab-rgb-orn-147-77.svg"
  }
%}
{# _jumbotron.html #}
{% set company_name = "TE Connectivity" %}
{% set page = {
    title: "V23717A0002A200",
    intro: "EVC 175 Main Contactor"
  }
%}

{# _sidebar.html #}
{% set bookmarks = [
    { id: "", title: "Introduction" },
    { id: "contact_data", title: "Contact Data" },
    { id: "coil_data", title: "Coil Data" },
    { id: "dimensions", title: "Dimensions" },
    { id: "product_code", title: "Product Code Structure" },
    { id: "revisions", title: "Revisions" }
  ]
%}
{% set chat_url = "" %}




