.card {
    &.chart-card {
        height:100%;
        box-shadow: 0 0 30px 0 rgba(0,159,189,0.05), 0 0 20px 0 rgba(0,0,0,0.33);
        box-sizing:border-box;
        flex-grow: 1;
        flex-basis: 1px;
        .card-body {
            position: relative;
            padding-top: 37px;
            height: 100%;
            padding-bottom: 43px;
            .expand-btn {
                position: absolute;
                right: 10px;
                top: 10px;
                z-index: 1;
                color: #CCCCCC;
            }
            .card-links {
                text-align: center;
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translate(-50%, 0);
                -webkit-transform: translate(-50%, 0);
                -moz-transform: translate(-50%, 0);
                a {
                    color: #CCCCCC;
                }
            }
        }
    }
    &-carousel-indicator{
        padding: 0;
        margin: 25px 0;
        list-style: none;
        display: flex;
        right: auto;
        /*        left: -5%;
                top: 120%;*/
        li {
            padding: 6px;
            border-radius: 50%;
            margin-right: 8px;
            width: auto;
            height: auto;
            &.active {
                /*background: none !important;*/
            }
        }
    }
}

.data {
}

.chart-subtitle {
    height: 17px;
    font-size: 14px;
    font-family: BrixSansRegular-Italic;
    line-height: 17px;
}

// Size of Charts
// Stretch is the amount to exetend the bottom of the chart on hover
$chart-height: 380px;
$container-height: 405px;
$chart-hover-stetch: 25px;

.chart {
    &-container {
        position: relative;
        //background: lightgrey;
        //border: green 1px solid;
        height: $container-height;
        margin: 0px;
        margin-top: 15px;
        margin-bottom: $chart-hover-stetch;
        padding: 2px;
        box-shadow: 0 0 30px 0 rgba(0,159,189,0.05), 0 0 30px 0 rgba(0,0,0,0.1);
        border-radius: 2px;
        border: 1px solid #E5E5E5;

        .chart-card-links {
            display: none;
        }

        &.hovered {
            margin-bottom: 0px;
            height: $container-height + $chart-hover-stetch;
            box-shadow: 0 0 30px 0 rgba(0,159,189,0.05), 0 0 20px 0 rgba(0,0,0,0.33);

            .chart-card-links {
                display: inline-block;
                height: 25px;
                width: 50%;

                .chart-card-link {
                    margin: 0px 17.5px;
                    color: #cccccc;
                }
            }
            &.zoom {
                width: 75vw;
                height: 80vh;
            }
        }
    }
    &-yaxis, &-xaxis {
        text-transform: capitalize;
        display: block;
    }
    &-yaxis {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        transform: rotate(-90deg);
        text-align: center;
        height: 20px;
    }
}

.data-pages-chart {
    width: 100%;
    height: $chart-height;
}

