.hero-banner {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
    padding-top: 60px;
    padding-bottom: 113px;
    position: relative;
    * {
        color: #fff;
    }
    .hero-logo{
        position: absolute;
        top: -45px;
        left: -25%;
        width: auto;
        height: 350px;
        @media (max-width: 1024px) {
            left: 20px;
            width: calc(100% - 20px);
        }
    }
    p {
        font-size: 30px;
    }
    * {
        color: #fff;
    }
    @media (max-width: 1024px) {
        padding:60px 40px 113px 40px;
    }
    @media (max-width: 767px) {
        padding:30px 20px 65px 20px;
        h5{
            font-size: 14px;
        }
        h1{
            font-size: 24px;
        }
        p{
            font-size: 24px;
            line-height: 24px;
        }
    }
}
