#header {
  padding: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 11.3rem;
  }
  .nav-link {
    color: var(--primary_color);
    margin-right: 20px;
    img, i {
      margin-right: 7px;
    }
  }
  .btn {
    padding: 15px 20px;
    &.btn-outline-primary {
      border-color: var(--primary_color);
      color: var(--primary_color);
    }
  }

}