
.panasonic {
  &.carousel-item {
    .card-body {
      //margin: 50px 0px;
      //margin-bottom: 100px;
    }
  }
}
.panasonic-banner {

  padding-bottom: 80px;
  .panasonic-hero-col {
    position: relative;
  }

  .panasonic-banner {
    position: absolute;
    top: -45px;
    height: auto;
    width: auto;
  }
}

