@mixin transform($prop) {
    transform: $prop;
    -moz-transform: $prop;
    -webkit-transform: $prop;
}

@mixin mytransition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.sticky-offset {
    top: $header_height;
}

.sidebar-mobile {
    //position: relative;
    height: 80px;
    background-color: #0066A1;
    padding: 20px 0;

    //@include transform(translate(-50%, 0));
    z-index: 2;

    // For mobile devices, a bit smaller
    @media screen and (max-width: 767px) {
        height: 60px;
        padding: 10px 20px 9px 20px;
    }

    .sidebar-mobile-wrapper {
        position: relative;
    }

    // Tablet size
    .jump-toggle { // AKA .jump-section-wrapper
        box-sizing: border-box;
        height: 41px;
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 3px;
        border-color: #FFFFFF;
        background-color: #FFFFFF;
        cursor: pointer;

        .jump-section {
            color: #1A1A1A;
            font-size: 14px;
            line-height: 17px;
            padding: 10px 2px;

            i {
                position: absolute;
                right: 30px;
                top: 12px;
                @include mytransition(transform .6s);
            }
        }

        &.open {
            .fas {
                @include transform(rotate(180deg));
            }
        }
    }

    .jump-menu { // AKA 'ul'
        display: none;
        margin: 10px 0 0 0;
        list-style-type: none;
        width: calc(100% - 40px);
        &.open {
            display: block;
        }
        position: absolute;
        top: 60px;
        left: 50%;
        @include transform(translate(-50%, 0));
        background-color: #fff;
        z-index: 2;
        padding: 20px 0;
        box-shadow: $box-shadow-light;

        li {
            margin: 0 !important;
            padding: 10px 20px;
            &.active {
                &:before {
                    left: 0;
                }
            }
        }

        @media screen and (max-width: 767px) {
            // Mobile device size
            top: 52px;
        }
    }
}

.sidebar {
    ul {
        margin: 10px 0 0 0;
        list-style-type: none;
        padding: 0;

        li {
            padding-left: 15px;
            a {
                line-height: normal;
                display: block;
                color: var(--primary_color);
                font-size: 14px;
            }
            &.active {
                font-weight: 600;
                position: relative;
                a {
                    text-decoration: underline;
                }
                &:before {
                    border-left: 3px solid var(--primary_color);
                    content: '';
                    position: absolute;
                    left: -15px;
                    height: 100%;
                }
            }

            &:not(:last-child) {
                margin-bottom: 26px;
            }

            &.input-group {
                .addon {
                    position: absolute;
                    margin-top: 15px;
                    z-index: 4;
                    color: #777;

                    & + .form-control {
                        padding: 15px 30px;
                    }
                }
                .form-control {
                    border-top: 0px;
                    border-right: 0px;
                    border-left: 0px;
                    border-radius: 0px;
                    font-size: 14px;

                    &:focus {
                        box-shadow: 0 0 0 0 rgba(0, 123, 255, .25);
                    }
                }
                @media screen and (max-width: 991px) {
                    display: none;
                }
            }

            &.chat-with-support {
                background: var(--primary_color);
                border-right: 5px solid var(--secondary_color);
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 30px;
                margin-left: -15px;
                max-width: 280px;
                width: 100%;
                a {
                    color: #fff;
                    h5 {
                        font-size: 18px;
                        margin-bottom: 0px;
                        > i {
                            margin-left: 10px;
                        }
                        @media screen and (max-width: 1200px) {
                            /* font-size: 16px; i{font-size: 14px;}*/
                        }
                    }
                    p {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                }

                @media screen and (max-width: 991px) {
                    display: none;
                }
            }
        }
        @media screen and (max-width: 1024px) {
            padding: 0;
        }
        @media screen and (min-width: 1025px) {
            display: block !important;
        }
    }
}

