{% load wagtailimages_tags static %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light container-fluid px-5" id="header">
    <div class="navbar-nav">
        <a href="{{ default_site_url }}" class="nav-item nav-link">
            {% if main_logo %}
                <img src="{{ main_logo.url }}" alt="DataPages"/>
            {% endif %}
        </a>

        {% if vendor_logo %}
            <img src="{% static 'images/forwardslash.png' %}" alt="" class="nav-item separator">

            <a href="{{ page.get_site.root_url }}" class="nav-item nav-link vendor-logo">

                    <img src="{{ vendor_logo.url }}" alt="{{ page.title }}"/>

            </a>
        {% endif %}
    </div>
</nav>
