<!--
Inject custom styles and values for the page in usign css variables.
These are not supported on IE11.. but who is using that anymore anyway?
There is < 6% worldwide share, and about 8.5% US share.. go figure.
-->
<style>
    body {
        --primary_color: {{ primary_color }};
        --secondary_color: {{ secondary_color }};
    }

    .hero-banner {
        background-color: {{ primary_color }};
    }

    #product_info .panes {
        --attr_height: {{max_length}}px;
        min-height: var(--attr_height);
        #--attr_height: {{feature_min_height}}px;
    }

    #product_info .panes > .pane {
        --attr_height: {{feature_min_height|add:"px"}};
    }
</style>
