{% load wagtailcore_tags %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1109/tec-tab-rgb-orn-147-77.svg"
           alt="brand"
           width="170px">
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#header_menu"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="header_menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1109/icon-download.png"> Download
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1109/icon-print.png"> Print
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1109/icon-share.png"> Share
          </a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-1109/icon-addtolist.png"> Add to List
          </a>
        </li>
      </ul>

      <div class="my-2 my-lg-0">
        <a href="#" class="btn btn-outline-primary my-2 my-sm-0">Order Samples</a>
        <a href="#" class="btn btn-primary my-2 my-sm-0">Buy Now</a>
      </div>
    </div>
  </div>
</nav>
