<h1 class="title"><span>{{ block.value.title }}</span></h1>

<table class="table">
    <tbody>
        {% for revision in block.value.data %}
            <tr>
                <td>{{ revision.date }}</td>
                {% if revision.revisions|length > 1 %}
                    <td colspan="2" class="nested">
                        <table class="table">
                            <tbody>
                                {% for work in revision.revisions %}
                                    <tr>
                                        <td>
                                            <h4>{{ work.title }}</h4>
                                            <p>{{ work.description }}</p>
                                        </td>
                                        <td class="text-right">
                                            <a href="#">View Edit <i class="fa fa-chevron-right"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                {% else %}
                    <td>
                        {% with revision.revisions.0 as work %}
                            <h4>{{ work.title }}</h4>
                            <p>{{ work.description }}</p>
                        {% endwith %}
                    </td>
                    <td class="text-right">
                        <a href="#">View Edit <i class="fa fa-chevron-right"></i></a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>