{% load wagtailcore_tags %}

<ul class="sidebar">
    <li class="input-group">
        <span class="addon">
          <i class="fa fa-search"></i>
        </span>

        <input type="text"
               class="form-control"
               placeholder="Find in Document"
               aria-label="Find in Document"
               aria-describedby="find_document_addon">
    </li>

    <li class="active"><a href="#">Introduction</a></li>

    {% for bookmark in bookmarks %}
        <li><a href="#{{ bookmark.id }}" data-action="anchor">{{ bookmark.title }}</a></li>
    {% endfor %}

    <li class="chat-with-support">
        <a href="#">
          <p>Have any questions?</p>
          <h5>Chat with support <i class="fa fa-chevron-right"></i></h5>
        </a>
    </li>
</ul>