{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}

{% block body_class %}template-datasheet-index{% endblock %}

{% block content %}
    <a href="/">
        {% if main_logo %}
            <img src="{{ main_logo.url }}" />
        {% endif %}
        {% if vendor_logo %}
            <img src="{{ vendor_logo.url }}" alt="TE Logo" />
        {% endif %}
    </a>
    {% for sheet in datasheets %}
        {% with sheet=sheet.specific %}
            <h2><a href="{% pageurl sheet %}">{{ sheet.title }}</a></h2>

            <p>{{ sheet.intro }}</p>
{#            {{ sheet.body|richtext }}#}
        {% endwith %}
    {% endfor %}

    {% wagtailuserbar %}

{% endblock %}
