.block {
  &.figure {
    display: block;
    .figure-stream,
    .rich-text {
      margin-bottom: 70px;
    }
    .figure-stream {
      .figure-stream-title {
        margin-bottom: 25px;

        small {
          color: #777;
          margin-left: 15px;
        }
      }
    }
  }
}
